<template>
    <Page>
        <ActionBar title="Dashboard" class="bg-color-success"/>
        <FlexboxLayout flexDirection="column" justifyContent="center">
          <Label :text="mensaje" class="message" col="0" row="0"/>
          <Button :text="texto" class="bg-color-success" :isEnabled="!(activo || conectando)" @tap="conectarMqtt" />
        </FlexboxLayout>
    </Page>
</template>

<script >
  // import { NativeScriptMQTTClient } from 'nativescript-mqtt'
  import { MQTTClient } from 'nativescript-mqtt'
  import { Message } from 'nativescript-mqtt/common'
  export default {
    data: () => ({
      mensajeInactivo: 'No está conectado al servicio.',
      mensajeActivo: 'Conexión OK!',
      mensajeConectando: 'Estamos intentando conectar',
      activo: false,
      conectando: false,
      textoConectado: 'Conectado',
      textoConectando: 'Conectando',
      textoDesconectado: 'Conectar',
      mqttCliente: new MQTTClient({
        host: '192.168.0.23',
        port: 1883
      }),
      textoError: null,
      mqttOpcionesCliente: {
        host: '192.168.0.23',
        port: 1883,
        // path: '/'
        // path: '/mqtt'
      },
      mqttOpcionesSesion: {
        cleanSession: true,
        useSSL: false,
        // userName: '',
        // password: '',
        // reconnect: false
      },
      mqttTopic: 'control-trace/telephone1/#'
    }),
    computed: {
      mensaje () {
        if (this.activo) {
          return this.mensajeActivo
        } else if (this.conectando) {
          return this.mensajeConectando
        } else if (this.textoError) {
          return this.textoError
        } else {
          return this.mensajeInactivo
        }
      },
      texto () {
        if (this.activo) {
          return this.textoConectado
        } else if (this.conectando) {
          return this.textoConectando
        } else {
          return this.textoDesconectado
        }
      }
    },
    methods: {
      onConnect () {
        console.log('onConnect')
        this.conectando = false
        this.activo = true
        this.publish('130')
        // if (err) {
        //   this.textoError = err
        // } else {
        // }
      },
      publish (val) {
        // this.mqttCliente.publish('control-trace/telephone1', val)
        console.log('construyendo mensaje ', val)
        const mqttMensaje = new Message(val)
        mqttMensaje.destinationName = this.mqttTopic;
        mqttMensaje.qos = 1;
        mqttMensaje.retained = false;
        console.log('publicando ', val, this.mqttCliente)
        try {
          this.mqttCliente.publish(mqttMensaje)
          console.log('publicado ', val)
        } catch (err) {
          console.error('err', err)
        }
      },
      setupHandlersMqtt () {
        console.log('setu handlers mqtt')
        // this.mqttCliente.onConnectionSuccess.on(this.onConnect)
        this.mqttCliente.onConnectionFailure.on(err => {
          console.log('err', err)
          this.textoError = err
        })
        this.mqttCliente.onConnectionLost.on((err) => {
            console.log("Connection lost: " + JSON.stringify(err));
        });

        this.mqttCliente.onMessageArrived.on((message) => {
            console.log("Message received: " + message.payloadString);
        });

        this.mqttCliente.onMessageDelivered.on((message) => {
            console.log("Message delivered: " + message.payloadString);
        });
      },
      conectarMqtt () {
        console.log('conectar mqtt')
        this.textoError = null
        this.conectando = true
        // if (!this.mqttCliente) {
        //   this.setupHandlersMqtt()
        // }
        return this.mqttCliente.connect(this.mqttOpcionesSesion).then(() => {
          console.log('conectado')
          this.conectando = false
          this.activo = true
          this.publish('130')
        }, (err) => {
          if (err && err.errorMessage) {
            this.textoError = err.errorMessage
            this.conectando = false
          } else {
            this.textoError = 'Se presenta un error desconocido'
          }
          console.log('error de conexion: ' + JSON.stringify(err))
        });
      }
    },
    created () {
      this.setupHandlersMqtt()
    }
  }
</script>

<style scoped>
  .bg-color-success {
    background-color: #53ba82;
    color: #ffffff;
  }
    .message {
        vertical-align: center;
        text-align: center;
        font-size: 20;
        color: #333333;
    }
</style>
