<template>
  <v-container>
    <!-- <v-alert
      v-if="txtError"
      border="top"
      color="info"
      dark
    >
      {{ txtError }}
    </v-alert> -->
    <v-row>
      <v-col cols="6">
        <v-img :src="imgMap" max-width="500"></v-img>
      </v-col>
      <v-col cols="6">
        <v-btn
          block
          :color="colorBoton"
          @click="accionBoton"
          :loading="cargando"
          :disabled="!geoLocation"
        >
          {{ textoBoton }}
        </v-btn>
        <br>
        <v-btn
          block
          color="default"
          :loading="cargando"
          :disabled="!conectado"
          @click="enviarRecorrido"
        >
          Enviar recorrido
        </v-btn>
        <br>
        <br>
        <hr>
        <br>
        <h3>Puntos Disponibles</h3>
        <ul>
          <li v-for="(punto, i) in puntosDisponibles" :key="i">
            <!-- <strong>{{ punto }}</strong>, tiempo en Tienda: {{ tiempos[i] / 1000 / 1000 }} min -->
            <strong>{{ punto }}</strong>, tiempo en Tienda: {{ tiempos[i] }} min
            <!-- {{ determinarActual(i) }} -->
          </li>
        </ul>
        <br>
        <hr>
        <br>
        <h3>Tiempos Recorridos</h3>
        <ul>
          <li v-for="(tiempo, i) in tiemposTrace" :key="i">
            <!-- {{ tiempo / 1000 / 1000 }} min, desde la <strong>{{ puntosDisponibles[i] }}</strong> a la <strong>{{ puntosDisponibles[i + 1] }}</strong> -->
            {{ tiempo }} min, desde la <strong>{{ puntosDisponibles[i] }}</strong> a la <strong>{{ puntosDisponibles[i + 1] }}</strong>
            <!-- {{ determinarActual(i) }} -->
          </li>
        </ul>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  import mqtt from 'mqtt'
  export default {
    name: 'HelloWorld',
    data: () => ({
      mqttCliente: null,
      txtError: null,
      conectado: false,
      cargando: false,
      opcionesLocalizacion: {
        enableHighAccuracy: true
      },
      geoLocation: null,
      device: null,
      topic: 'control-trace/geo',
      topicTrace: 'control-trace/trace',
      mapRequestKey: '7NlTttNINCiEnnJQG1yOJNNs7ttF1KLm',
      coordenadasEnviar: null,
      temporizador: null,
      pasos: 0,
      limitePasos: 10,
      msMovimiento: 500,
      puntoActual: 0,
      devices: [
        '5cd0aad6db3c7a1f6355de73ed3aef8a5efc676e',
        'f86280177e51535899cd0af49425f1caa1b1dbb6',
        '9ac2e55a9e43702780caaed55e15eca467cf0ac7'
      ],
      mqttURL: 'ws://192.168.0.23:1883',
      puntosDisponibles: [],
      tiempos: [
        30,
        15,
        10,
        20,
        40
      ],
      tiemposTrace: [
        10,
        20,
        15,
        40
      ],
      puntos: [
        { lat: 0, lng: 0 },
        { lat: 0, lng: 0 },
        { lat: 0, lng: 0 },
        { lat: 0, lng: 0 },
        { lat: 0, lng: 0 }
      ]
    }),
    computed: {
      textoBoton () {
        if (this.conectado) {
          return 'Desconectar'
        } else {
          return 'Conectar'
        }
      },
      colorBoton () {
        if (this.conectado) {
          return 'error'
        } else {
          return 'warning'
        }
      },
      payload () {
        const {
          lat,
          lng
        } = this.geoLocation
        return {
          lat,
          lng,
          device: this.device
          // location: this.puntosDisponibles[this.puntoActual]
        }
      },
      imgMap () {
        if (this.coordenadasEnviar && !this.temporizador) {
          return `https://www.mapquestapi.com/staticmap/v5/map?locations=${this.coordenadasEnviar.lat},${this.coordenadasEnviar.lng}&size=@2x&zoom=14&key=${this.mapRequestKey}`
        } else {
          return '/blocked.png'
        }
      }
    },
    methods: {
      getRandomInt (min, max) {
        min = Math.ceil(min);
        max = Math.floor(max);
        return Math.floor(Math.random() * (max - min + 1)) + min;
      },
      falsearRecorrido () {
        if (this.pasos < this.limitePasos && this.geoLocation) {
          const random = Math.round(Math.random())
          if (random) {
            console.log('aumentando lat')
            this.geoLocation.lat = this.geoLocation.lat - (this.getRandomInt(-100, 100) / 10000)
            // this.geoLocation.lng = this.geoLocation.lng - 0.00005
          } else {
            console.log('aumentando lng')
            // this.geoLocation.lat = this.geoLocation.lat - 0.00005
            this.geoLocation.lng = this.geoLocation.lng - (this.getRandomInt(-100, 100) / 10000)
          }
          this.pasos = this.pasos + 1
        } else {
          console.log('No se ejecuta falseo de recorrido')
        }
      },
      onSuscribe (err) {
        if (!err) {
          this.txtError = 'suscrito...'
          this.mqttCliente.publish(this.topic + '', JSON.stringify(this.payload))
          this.txtError = 'publicado'
        }
        this.cargando = false
      },
      suscribe () {
        this.mqttCliente.subscribe(this.topic + '/#', this.onSuscribe)
      },
      connect () {
        this.txtError = 'conectado'
        this.conectado = true
        this.cargando = false
        // this.suscribe(this.mqttCliente)
      },
      closeCallback () {
        this.conectado = false
      },
      disconnect () {
        this.mqttCliente.end()
        this.conectado = false
      },
      instanciar () {
        try {
          if (!this.conectado) {
            if (this.geoLocation) {
              this.cargando = true
              this.mqttCliente = mqtt.connect(this.mqttURL)
              this.mqttCliente.on('connect', this.connect)
              this.mqttCliente.on('error', (err) => {
                console.log('err', err)
                this.txtError = err
                this.cargando = false
              })
              this.mqttCliente.on('message', function (topic, message) {
                // message is Buffer
                console.log(topic.toString())
                console.log(message.toString())
              })
            } else {
              console.log('No tiene coordenadas')
            }
          } else {
            console.log('El cliente ya est`a conectado')
          }
        } catch (err) {
          this.txtError = err.message
        }
      },
      accionBoton () {
        if (this.conectado) {
          this.disconnect()
        } else {
          this.instanciar()
        }
      },
      crearTemporarizadorMovimiento () {
        this.temporizador = setInterval(this.falsearRecorrido, this.msMovimiento)
      },
      determinarActual (val) {
        if (this.puntoActual === val) {
          return '(actual)'
        } else {
          return ''
        }
      },
      generarRecorrido () {
        const indexDevice = this.getRandomInt(1, 3) - 1
        this.device = this.devices[indexDevice]
        console.log('indexDevice', indexDevice)
        switch (indexDevice) {
          case 0:
            this.puntosDisponibles = ['Tienda A', 'Tienda B', 'Tienda C', 'Tienda D', 'Tienda E']
            break
          case 1:
            this.puntosDisponibles = ['Tienda F', 'Tienda G', 'Tienda H', 'Tienda I', 'Tienda J']
            break
          case 2:
            this.puntosDisponibles = ['Tienda K', 'Tienda L', 'Tienda M', 'Tienda N', 'Tienda O']
            break
          default:
            this.puntosDisponibles = ['Tienda P', 'Tienda Q', 'Tienda R', 'Tienda S', 'Tienda T']
        }
      },
      enviarRecorrido () {
        this.cargando = true
        this.geoLocation.lat = this.geoLocation.lat - (this.getRandomInt(-100, 100) / 10000)
        this.puntos[0].lat = this.geoLocation.lat
        this.puntos[0].lng = this.geoLocation.lng
        for (let i = 1; i < this.puntosDisponibles.length; i++) {
          this.puntos[i].lat = this.geoLocation.lat - (this.getRandomInt(50, 100) / 10000)
          this.puntos[i].lng = this.geoLocation.lng - (this.getRandomInt(50, 100) / 10000)
        }
        for (let i = 0; i < this.puntosDisponibles.length; i++) {
          this.mqttCliente.publish(this.topic + '', JSON.stringify({
            device: this.device,
            tiempo: this.tiempos[i],
            location: this.puntosDisponibles[i],
            lat: this.puntos[i].lat,
            lng: this.puntos[i].lng
          }))
        }
        for (let i = 0; i < this.tiemposTrace.length; i++) {
          this.mqttCliente.publish(this.topicTrace + '', JSON.stringify({
            device: this.device,
            tiempo: this.tiemposTrace[i],
            inicio: this.puntosDisponibles[i],
            fin: this.puntosDisponibles[i + 1]
          }))
        }
        this.cargando = false
      }
    },
    filters: {
    },
    watch: {
      // geoLocation (newVal, oldVal) {
      //   if (oldVal == null || (oldVal && !this.temporizador)) {
      //     console.log('asignando')
      //   } else {
      //     console.log('no cumple condiciones', oldVal, newVal)
      //   }
      // },
      pasos (newVal) {
        if (newVal === this.limitePasos) {
          console.log('limpiando temporizador')
          clearInterval(this.temporizador)
          this.temporizador = null
          this.coordenadasEnviar = this.geoLocation
        }
      }
    },
    created () {
      this.generarRecorrido()
      this.txtError = 'conectando...'
      this.$getLocation(this.opcionesLocalizacion)
        .then(coordinates => {
          console.log('coordinates GET', coordinates)
          this.geoLocation = coordinates
          this.coordenadasEnviar = coordinates
          // this.crearTemporarizadorMovimiento()
        }).catch(err => {
          console.error(err)
          this.geoLocation = null
          // this.txtError = 'No se pudo obtener las coordenadas'
          this.txtError = err.message
        })
      this.$watchLocation(this.opcionesLocalizacion)
        .then(coordinates => {
          console.log('coordinates watch', coordinates)
          this.geoLocation = coordinates
          this.coordenadasEnviar = coordinates
        }).catch (err => {
          console.error(err)
          this.geoLocation = null
          this.txtError = err.message
        })
      this.instanciar()
    }
  }
</script>
